[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"mastodon.py" = { git = 'https://github.com/codl/Mastodon.py.git', ref = 'guest-curator' }
pyyaml = "*"


[dev-packages]
